
*{
    box-sizing:border-box;
}
body{
    background: #29282D;
    color: #fff;
    font: 16px/1.42 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
.main-page-wrapper{
    background: url("../img/bg/lion-header1.jpg") center top no-repeat, url("../img/bg/bottom-pic1.jpg") right bottom 307px  no-repeat ;
    min-width: 1140px;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.hero{
    margin-bottom: 185px;
}
.header{
    height: 120px;
    position: relative;
    margin-bottom: 135px;
}
.logo{
    display: block;
    position: absolute;
    top:33px;
    left:0;
}
.menu{
    position: absolute;
    top: 39px;
    left: 257px;
}
.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.menu__item:last-child{
    margin-right: 0px;
}
.menu__item--active .menu__link{
    color:#DFB56D;
}
.menu__link{
    font-size: 14px;
}
.menu__link:hover{
    color: #D3A557;
}
.contacts{
    font-style: normal;
    text-align: right;
    position: absolute;
    top:29px;
    right: 0px;
}
.contacts__phone{
    font-size: 26px;
    margin-bottom: 4px;
 
    line-height: 1.11em;
}
.contacts__dropdown-title{
    font-size: 13px;
    text-decoration: underline;
    color: #D3A557;
    line-height: 1.22;
}
.contacts__desc{
    color: #9A9A9A;
    font-size: 11px;
    margin-bottom: 5px;
    line-height: 1;
}
.hero__content{
    width: 505px;
}
.hero__title{
    font-size: 58px;
    font-weight: bold;
    line-height: 1.13;
    margin-bottom: 26px;
}
.hero__text{
    color: #D3A557;
    font-size: 18px;
    line-height: 1.12;
    margin-bottom: 41px;
}
.btn{
    padding: 17px 39px  ;
    border-radius:4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}
.btn_style_default{
    color:#fff;
    background: #2B2B2B;
}
.btn_style_common{
    color:#fff;
    background: #DFB56D;
}
.btn_style_default:hover{
    background: #DFB56D;
    
}
.btn_style_common:hover{
    background: #D3A557;
    box-shadow: 0px 8px 35px rgba(223, 181, 109, 0.35);
}
.offers{
    margin-bottom: 98px;
}
.section__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
}

.offers__item{
    color:#000;
    border-radius:4px;
    background: #FFFFFF;
    margin-bottom: 22px;
}
.card{
    width: 362px;
    min-height: 403px;
    margin-right: 22px;
    display: inline-block;
    overflow: hidden;
}
.offers__item:last-child{
    margin-right: 0px;
}
.card__item--theme--gray .offers__header:before{
    background: #a7a7a7;
}
.card__item--theme--blue .offers__header:before{
    background: #596483;
}
.card__item--theme--gold .offers__header:before{
    background: #988657;
}
.card__header{
    min-height: 144px;
    margin-bottom: 32px;
    position: relative;   
    overflow: hidden;

}
.card__header:before{
    content: "";
    display: block;
    width: 272px;
    height: 284px;
    border-radius: 50%;
    position: absolute;
    top: -161px;
    right: -93px;
    background: #a7a7a7;
}
.card__pic{
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -34px;
    margin-left: -44px;
}
.card__content{
    padding: 0px 20px 25px 20px;

}
.card__title{
    font-size: 24px;
    font-weight:bold;  
    margin-bottom: 15px; 
}
.card__features{
    margin-bottom: 47px;
}
.card__features-cell{
    display: inline-block;
    vertical-align: top;
  
    width: 159px;
    margin-right: 35px;
}
.card__features-cell:last-child{
    margin-right: 0px;
}
.card__value{
    font-size: 36px;
    margin-bottom: 4px;
    width: 120px;
}
.card__caption{
    color: #666666;
}
.card_caption-width-lock{
    max-width: 120px;
}
.card__btn-wrapper{
    text-align: center;
}
.news{
    margin-bottom: 144px;
}
.news__list{
    margin-bottom: 45px;
}
.news__item{
    min-height: 114px;
   
    border-radius: 4px;
    position: relative;
    overflow: hidden;
   
}
.knowledge{
    width: 557px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.news__item:last-child{
    margin-right: 0;
}
.knowledge__pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}
.knowledge__text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 17px 30px 15px;
    min-height: 165px;
}
.knowledge__date{
    font-size: 14px;
  
    margin-bottom: 15px;
 
}
.knowledge__caption{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 6px;

 
}
.knowledge__desc{
  
}
.pagination{
   text-align: center;
}
.pagination__info,.pagination__list{
    display: inline-block;
    vertical-align: middle;
}
.pagination__info{
    margin-right: 21px;
}
.pagination__item{
    display: inline-block;
    vertical-align: middle;
    
}
.pagination__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: bold;
    line-height: 32px;
}
.pagination__link_current .pagination__link{
    background: #353439;
}
.pagination__link:hover{
    background: #353439;
}
.abouts{
    margin-bottom: 53px;
}
.abouts-wrapper:before, .abouts__desc{
    display: inline-block;
    vertical-align: top;
}
.abouts-wrapper:before{
    content: "";

    width: 490px;
    height: 505px;
    background: url("../img/decor/chess.jpg") center center/cover  no-repeat;
}
.abouts__desc{
    background: #202123;
    padding: 70px 163px 70px 81px;

    margin-left: -142px;
    margin-top: 97px;
}

.abouts__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 39px;
}
.abouts__desc-text{
    margin-bottom: 70px;
}
.abouts__desc-text p{
    margin-bottom: 20px;
    line-height: 1.65;
    width: 539px;
}
}
.abouts__desc-text p:last-child{
    margin-bottom: 0;
}

.footer{
    height: 92px;
    position: relative;
}
.socials__list{
    position: absolute;
    top: 29px;
    right: 264px;
}
.socials__link{
    display: block;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
   
}
.socials__item:last-child{
    margin-right: 0;
}
.socials__item_icon--telegram .socials__link{
    background: url("../img/icons/telegram.png");
}
.socials__item_icon--vk .socials__link{
    background: url("../img/icons/vk.png");
}
.socials__item_icon--facebook .socials__link{
    background-image: url("../img/icons/f.png");
}
.socials__item_icon--instagram .socials__link{
    background: url("../img/icons/in.png");
}
.socials__item_icon--telegram .socials__link:hover{
    background: url("../img/icons/hover_t.png");
}
.socials__item_icon--vk .socials__link:hover{
    background: url("../img/icons/hover_vk.png");
}
.socials__item_icon--facebook .socials__link:hover{
    background-image: url("../img/icons/hover_f.png");
}
.socials__item_icon--instagram .socials__link:hover{
    background: url("../img/icons/hover_in.png");
}
.footer-container__border-line{
    border-top: 1px solid #353538;
    padding: 22px 0;
 
}