*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

body{
    background: #29282D;
    color: #fff;
    font: 16px/1.42 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    font-weight: normal;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
button{
    cursor: pointer;
    border:0;
    background: transparent;
}
img{
    display: block;
    max-width: 100%;
}
.wrapper{
    overflow: hidden;
    min-width: 1200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.wrapper__content{
    flex: 1;
}
.service-page__wrapper{
   background: #fff; 
}
.main-page-wrapper{
    background: url("./img/bg/lion-header1.jpg") center top no-repeat, url("/img/bg/bottom-pic1.jpg") right bottom 307px  no-repeat ;
 
}
.container{
    width: 1140px;
    margin: 0 auto;
}
