.breadcrumbs{
    display: flex;
  
}
.breadcrumbs__list{
    
    display: inline-flex;
    align-items: center;  
    
}
.breadcrumbs__item{
    display: flex;
    align-items: center;

}

.breadcrumbs__item_active .breadcrumbs__link{
    font-weight: bold;
    
}
.breadcrumbs__item:after{
    content: "/";
    color: #9A9A9A;
    padding: 0 5px;
   
    
}
.breadcrumbs__item:last-child::after{
    display: none;   
}
.breadcrumbs__link{
    font-size: 14px;
    text-decoration: underline;
    color: #9A9A9A;
}
