.card{
    min-height: 403px;
    color:#000;
    border-radius:4px;
    background: #FFFFFF;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}
.card__item--theme--gray .card__header:before{
    background: #a7a7a7;
}
.card__item--theme--blue .card__header:before{
    background: #596483;
}
.card__item--theme--gold .card__header:before{
    background: #988657;
}
.card__header{
    min-height: 144px;
    margin-bottom: 34px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card__header:before{
    content: "";
    display: block;
    width: 272px;
    height: 284px;
    border-radius: 50%;
    position: absolute;
    top: -161px;
    right: -93px;
    background: #a7a7a7;
}
.card__pic{
    z-index: 1;
}
.card__content{
    padding: 0px 20px 25px 23px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.card__title{
    font-size: 24px;
    font-weight:bold;  
    margin-bottom: 15px; 
}
.card__features{
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
    
}
.card__features-cell{
    
    margin-right: 35px;
}
.card__features-cell:last-child{
    margin-right: 0px;
}
.card__value{
    font-size: 36px;
    margin-bottom: 4px;
    width: 120px;
}
.card__caption{
    color: #666666;
}

.card__btn-wrapper{
  
    display: flex;
    justify-content: center;
    margin-top: auto;
}