.central{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 1.3s ;
    opacity: 0;
    animation-delay:2s;
    animation-fill-mode: forwards;
}
.central__logo{
    margin-bottom: 59px;
}
@keyframes bounce{
    0% {
        
        transform: translateY(0);
      
        
        
    }
    40% {
        
        transform: translateY(-30%) ;
        
    }
    50%{
        transform: translateY(0);
  
    }
    65%{
        transform: translateY(-10%);
       
    }
    75%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(5%);
    }
    90%{
        transform: translateY(0%);
       
       
      
    }
    100%{
        opacity: 1;
    }
   
}