.contacts{
    font-style: normal;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.contacts__phone{
    font-size: 26px;
    line-height: 1.11em;
}

.contacts__desc{
    color: #9A9A9A;
    font-size: 11px;
    margin-bottom: 5px;
    line-height: 1;
}