.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__col{
    display: flex;
    align-items: center;
    flex: 1;
}
.footer__col_align_right{
    justify-content: flex-end;
    align-items: flex-start;
    
    
}
.footer-container{
    margin-top: auto;
}
.footer-container__border-line{
    border-top: 1px solid #353538;
    padding: 45px 0px ;
 
}
.footer__services_pager{
    padding: 45px 0px ;
    background: #29282D;
}