.hero{
    margin-bottom: 180px;
}
.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}
.hero__content{
    width: 43%;
}
.hero__title{
    font-size: 58px;
    font-weight: bold;
    line-height: 1.13;
    margin-bottom: 26px;
}
.hero__text{
    color: #D3A557;
    font-size: 18px;
    line-height: 1.12;
    margin-bottom: 41px;
}