.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.menu__item{
  
    margin-right: 53px;
}
.menu__item:last-child{
    margin-right: 0px;
}
.menu__item_active .menu__link{
    color:#DFB56D;
}
.menu__link{
    font-size: 14px;
    transition: 0.6s;
}
.menu__link:hover{
    color: #D3A557;
}