.news{
    margin-bottom: 150px;
}
.news__list{
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
}
.news__item{
    min-height: 390px;
   
    margin-right: 2%;
    flex: 1;
}
   

.news__item:last-child{
    margin-right: 0;
}