.news{
    margin-bottom: 145px;
}
.news__list{
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
}
.news__item{
    min-height: 390px;
    width: calc(100% / 2 - 9px);
}
   

.news__item:last-child{
    margin-right: 0;
}