.offers{
    margin-bottom: 125px;
}
.offers__list{
    display: flex;
    justify-content: space-between;

}
.offers__item{

    width: calc(100% / 3 - 18px);
}

.offers__item:last-child{
    margin-right: 0px;
}
