.partners{
    color:#202020;
    padding: 170px 0 112px 0;
}
.partners--theme--light{
    background: #F4F5F5;
}
.partners__title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom:88px ;
}
.partners_list{
    display: flex;
    flex-wrap: wrap;
}
.partners__item{
    margin-left: 20px;


}
.partners__item:nth-child(4n +1){
    margin-left: 0;
}

.partners__link{
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}
.partners__link:hover{
    filter: grayscale(0);

}