.socials{
    display: flex;
    justify-content: space-between  ;
    align-items: flex-start;
}
.socials__list{
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    margin-right: 102px;

}
.socials__item{
    text-align: center;
    margin-right: 7%;
}
.socials__link{
    display: block;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}


.socials__item:last-child{
    margin-right: 0;
}
.socials__item_icon_telegram .socials__link{
    background: url("../../img/icons/telegram.png");
}
.socials__item_icon_vk .socials__link{
    background: url("../../img/icons/vk.png");
}
.socials__item_icon_facebook .socials__link{
    background-image: url("../../img/icons/f.png");
}
.socials__item_icon_instagram .socials__link{
    background: url("../../img/icons/in.png");
}
.socials__item_icon_telegram .socials__link:hover{
    background: url("../../img/icons/hover_t.png");
}
.socials__item_icon_vk .socials__link:hover{
    background: url("../../img/icons/hover_vk.png");
}
.socials__item_icon_facebook .socials__link:hover{
    background-image: url("../../img/icons/hover_f.png");
}
.socials__item_icon_instagram .socials__link:hover{
    background: url("../../img/icons/hover_in.png");
}