
/*
index page
h1 58px
h2 36px
h3 24px

services page
h1 72px
h2  36px
h2  48px

reviews page
h1 72px
h2  48 px 48px
h3 30px


title_size_xl   :   72px
title_size_l    :   58px
title_size_m    :   48px
title_size_s    :   36px 
title_size_xs   :   30px

defualt size title 24px
*/

.title{
    font-size: 24px;
    font-weight: bold;
}
  
.title__main-page{
    margin-bottom: 51px;
}
.title_size_xl{
    font-size: 72px;
}
.title_size_l{
    font-size: 58px;
}
.title_size_m{
    font-size: 48px;
}
.title_size_s{
    font-size: 36px;
}
.title_size_xs{
    font-size: 30px;
}