.top-line{
    min-height: 412px;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
    background: #18191b url("../../img/bg/lion-head-wide1.png") center top no-repeat ;
}
.top-line__continer{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    min-width: 1200;
   
}
